In [1]:
from os.path import join
import pandas as pd
from numpy import vectorize

In [2]:
def compare(x,median,close='right'):
    if x > median: return(1)
    if x < median: return(-1)
    if x == median:
        if close[0].lower() == 'r': return(1)
        if close[0].lower() == 'l': return(-1)
        if close[0].lower() == 'b': return(0)

In [15]:
def median_split(series):
    m = series.median()
    series_right = pd.Series(vectorize(compare)(series,m,close='right'))
    series_left = pd.Series(vectorize(compare)(series,m,close='left'))
    series_both = pd.Series(vectorize(compare)(series,m,close='both'))
    srvc = series_right.value_counts()
    slvc = series_left.value_counts()
    sbvc = series_both.value_counts()
    right_imbalance = abs(srvc.iloc[0] - srvc.iloc[1])
    left_imbalance = abs(slvc.iloc[0] - slvc.iloc[1])
    if right_imbalance > left_imbalance: print(slvc); return(series_left)
    elif left_imbalance > right_imbalance: print(srvc); return(series_right)
    elif right_imbalance == left_imbalance: print(sbvc); return(series_both)

In [28]:
a = pd.DataFrame({'A':[0,1,2,3,4,6,7,7,7,8,9]})
a['B'] = median_split(a['A'])
a

 1    5
-1    5
 0    1
dtype: int64

    A  B
0   0 -1
1   1 -1
2   2 -1
3   3 -1
4   4 -1
5   6  0
6   7  1
7   7  1
8   7  1
9   8  1
10  9  1