In [1]:
import os
import pandas as pd

In [2]:
source_dir = os.path.join(os.path.abspath('..'),'sourcedata','qualtrics')
derivs_dir = os.path.join(os.path.abspath('..'),'derivatives','qualtrics')

In [18]:
frames={}

In [19]:
for f in os.listdir(source_dir):
    if f.startswith('180514'):
        keyname = f.strip('180514_.csv')
        fname = os.path.join(source_dir, f)
        frames[keyname] = pd.read_csv(fname)

In [20]:
frames.keys()

['econdec-post', 'eyetrack-pre', 'econdec-pre', 'eyetrack-post']

In [57]:
df=frames['econdec-pre']
df=df[df['Finished'] == '1']

In [58]:
demog_columns = ['SSID','Q1','Q2','Q3','Q4','Q5','Q5_6_TEXT','Q6','Q7_1',
                 'Q8','Q9','Q10','Q11_1','Q12_1','Q13','Q14','Q14_4_TEXT','Q15']

In [59]:
demog_frame = df[demog_columns]
demog_frame

,SSID,Q1,Q2,Q3,Q4,Q5,Q5_6_TEXT,Q6,Q7_1,Q8,Q9,Q10,Q11_1,Q12_1,Q13,Q14,Q14_4_TEXT,Q15
2,201,20,1,14,2,1,NaN,Student,8,2,7,7.5,7,7,1,4,Insufficient funds to live at a good standard.,00233
3,202,19,2,14,1,2,NaN,Student,8,4,8,8,1,3,4,NaN,NaN,34109
4,203,19,2,12,2,2,NaN,Sales Associate,9,4,6,8,2,5,6,NaN,NaN,33071
5,146,18,1,13,1,2,NaN,Student,9,2,8,8,2,5,7,NaN,NaN,32828
6,205,23,1,16,1,2,NaN,programmer,6,3,7,8.5,5,2,5,4,moving to a new country,33027
7,206,19,2,14,2,2,NaN,student,8,4,5,7,3,2,7,NaN,NaN,75206
8,207,19,1,13,2,1,NaN,student,9,4,5,4,1,5,5,NaN,NaN,33020
9,208,18,1,12,2,2,NaN,student,8,3,7,7,7,5,2,NaN,NaN,32233
10,209,18,2,12,2,1,NaN,student full time,9,2,7,6,1,5,6,NaN,NaN,33511
11,210,19,2,13,2,2,NaN,Student,8,1,7,6,5,3,5,NaN,NaN,33596
12,211,18,2,12,2,1,NaN,NaN,8,2,7,8,2,6,6,NaN,NaN,19120
13,212,19,2,14,2,6,Haitian American,Student,9,NaN,8,8,2,3,5,NaN,NaN,33067
14,213,18,2,13,2,1,NaN,Student,8,2,5,5,5,5,6,NaN,NaN,32065
15,148,18,1,12,2,2,NaN,student,8,3,10,6,5,3,7,NaN,NaN,19446
16,150,22,1,15,2,2,NaN,house painter,7,2,8,7.5,3,5,5,NaN,NaN,39828
17,147,19,2,12,1,2,NaN,NaN,9,2,8,9,2,5,3,1,NaN,32097
18,214,18,2,12,2,2,NaN,student,9,3,8,8,2,5,5,NaN,NaN,33547
19,215,19,2,13,2,2,NaN,Student worker,8,1,7,8,4,7,2,1,NaN,32724
20,216,20,1,15,2,2,NaN,Student,7,2,7,5,2,5,7,NaN,NaN,32804
21,152,18,1,12,1,2,NaN,none,7,4,8,10,7,6,6,NaN,NaN,33418
22,153,18,2,18,2,2,NaN,student,7,4,7,7,4,5,1,NaN,NaN,32570
23,217,18,1,12,2,"1,2,4",NaN,biomedicine,8,2,8,6,2,3,1,NaN,NaN,32224
24,155,21,2,15,2,2,NaN,fortune teller,7,1,6.5,6.5,3,2,7,4,let go from a job due to economic struggles,29483
25,218,20,2,14,1,2,NaN,student,7,4,8,7,2,3,2,NaN,NaN,33177
26,219,18,2,12,2,1,NaN,NaN,8,2,8,7,7,5,NaN,NaN,NaN,78108
27,157,19,1,14,2,6,African American and Asian,Student,8,3,6.5,6,1,5,7,NaN,NaN,33186
28,220,23,2,18,1,"1,6",African and cuban,Massage Therapist,6,1,7,7,6,4,4,"1,2,3",NaN,32825
29,221,19,2,14,1,2,NaN,Student,8,4,7,6.5,5,6,7,NaN,NaN,33324
30,222,19,2,13.5,2,6,caucasian and asian,student/food service worker,7,1,9,7,8,7,4,NaN,NaN,32613
31,223,28,2,14,1,"2,6",Causacian and Panamanian,Banquet Server.,7,3,6.5,5.5,7,5,5,1,NaN,80121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,18,1,12,2,2,NaN,student,8,4,4,6,3,6,7,1,NaN,32408
174,291,18,2,13,2,"1,2",NaN,Nursing,8,3,8,7,2,2,6,NaN,NaN,32603
175,292,18,2,14,1,6,white,Call center rep.,NaN,4,3,8,1,5,4,"1,4",debt,19120
176,293,18,2,12,2,5,NaN,Student,9,2,9,9-10,5,5,7,4,none,33996
177,294,18,2,12,1,2,NaN,Student at UCF,9,4,7,5-6,5,5,7,"1,4",Caring/providing care (financially) for my gra...,33016
178,295,18,2,12,2,2,NaN,NaN,7,2,7,8,3,6,5,NaN,NaN,44657
179,296,19,1,12,2,3,NaN,student,8,2,7,7,4,5,6,NaN,NaN,32824
180,228,19,2,12,1,7,NaN,student,8,4,4,6,3,1,5,NaN,NaN,33178
181,229,19,1,13,2,1,NaN,NaN,9,2,7,6,2,4,6,NaN,NaN,32703
182,297,18,2,12,2,1,NaN,NaN,7,3,7,8,2,1,2,1,NaN,32808
183,298,18,2,12,2,2,NaN,student,7,3,9,10,5,6,6,1,NaN,32003
184,299,19,2,13,2,2,NaN,student,7,4,7,7,3,4,7,NaN,NaN,33510
185,2002,18,2,12,2,1,NaN,student,9,4,7,8-12,4,7,NaN,NaN,NaN,33186
186,2003,19,2,12,2,2,NaN,student,8,1,7,7-8,5,4,5,"1,2",NaN,34286
187,2004,18,1,12,2,2,NaN,not employed,8,2,6,6-10,3,5,7,NaN,NaN,33436
188,2006,18,2,13,2,2,NaN,student studying biomed,7,2,7.5,7-8,2,2,5,4,NaN,32837
189,2005,18,2,12,2,2,NaN,NaN,9,4,8,8-9,1,5,7,NaN,NaN,32034
190,2008,18,2,12,2,2,NaN,None,7,2,9,7,5,5,7,NaN,NaN,33414
191,2009,18,2,12,2,2,NaN,Student,8,3,9,9-10,2,5,7,NaN,NaN,60525
192,2010,18,1,12,2,2,NaN,Student,9,4,6.5,7-8,3,5,5,NaN,NaN,33321
193,2007,18,2,12,2,1,NaN,NaN,7,3,9,10,2,6,6,NaN,NaN,33647
194,2011,23,2,15,1,7,NaN,student,8,NaN,8,6-8,5,5,4,1,NaN,32829
195,258,23,2,18,2,3,NaN,student,6,4,8,8,2,4,2,NaN,NaN,34734
196,266,19,1,14,2,1,NaN,NaN,9,1,8,7,3,5,5,1,NaN,33844
197,167,24,2,15,1,7,NaN,student/server,9,1,6,8,5,5,2,NaN,NaN,34743
198,204,19,2,12,2,1,NaN,no job,8,4,7,7.5,2,5,4,1,NaN,33063
199,256,23,2,17,2,1,NaN,Graphic Design,8,3,8,8,3,5,4,1,NaN,32244
200,2001,22,2,15,1,2,NaN,student,8,3,8,9,7,5,2,4,more people living in our home,32738
201,270,22,1,15,2,3,NaN,Electrical Engineering Student,7,4,7,8,3,8,2,NaN,NaN,32817
202,280,20,1,14,1,2,NaN,student,8,2,6,7,4,2,7,4,NaN,33326

In [60]:
panas_columns = ['SSID','Q42','Q43','Q44','Q45','Q46','Q47','Q48','Q49','Q50','Q51',
                 'Q52','Q53','Q54','Q55','Q56','Q57','Q58','Q59','Q60','Q61']

In [61]:
panas_frame = df[panas_columns]
panas_frame

,SSID,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,...,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61
2,201,3,1,3,1,2,1,2,1,4,...,1,3,1,4,4,3,3,4,4,1
3,202,3,1,3,1,4,1,1,1,4,...,1,5,1,3,1,4,5,1,5,1
4,203,4,1,3,1,3,1,2,1,3,...,1,5,1,1,2,3,5,2,3,1
5,146,4,1,4,1,4,1,1,1,3,...,1,3,1,2,4,4,4,3,4,1
6,205,3,4,2,2,2,1,3,1,3,...,4,2,1,4,5,4,2,2,2,2
7,206,4,1,4,1,2,1,1,1,4,...,1,3,1,3,1,4,4,1,3,1
8,207,5,3,1,1,5,1,1,1,3,...,1,5,1,4,1,5,5,1,5,1
9,208,4,1,1,1,4,1,1,1,3,...,1,3,1,1,1,2,4,1,3,1
10,209,5,1,5,1,3,1,1,1,4,...,1,5,1,2,1,4,5,3,4,1
11,210,5,2,4,1,3,1,1,1,4,...,1,5,1,5,2,4,5,3,3,1
12,211,4,3,3,4,4,2,3,3,3,...,3,5,2,4,4,5,5,1,3,2
13,212,4,1,3,1,4,1,1,1,4,...,1,4,1,4,1,4,5,1,4,1
14,213,3,1,2,1,2,1,1,1,2,...,1,3,1,1,1,3,4,3,3,1
15,148,3,1,1,1,2,1,1,1,2,...,1,3,1,1,1,2,3,1,3,1
16,150,4,1,4,1,4,1,1,1,5,...,1,4,1,4,4,5,5,1,4,1
17,147,5,1,5,1,2,1,1,1,5,...,1,4,1,2,1,4,5,1,3,1
18,214,4,1,4,1,3,1,1,1,4,...,1,3,1,2,1,4,4,1,3,1
19,215,4,3,3,1,3,1,1,1,2,...,1,3,1,2,1,4,4,1,2,1
20,216,3,1,2,1,3,1,1,1,4,...,1,5,1,3,1,4,4,1,5,1
21,152,4,2,2,2,2,2,1,1,2,...,1,3,1,2,1,1,2,1,2,1
22,153,3,1,2,1,3,1,1,1,2,...,1,4,1,1,2,3,4,2,1,1
23,217,4,4,4,1,1,1,1,1,2,...,1,3,1,3,2,4,3,1,3,1
24,155,5,1,3,2,2,1,1,1,4,...,1,2,1,3,1,3,2,1,2,1
25,218,3,1,3,1,3,1,1,1,3,...,1,4,1,2,2,3,4,2,3,1
26,219,1,1,1,1,1,1,1,2,1,...,2,1,1,1,1,1,5,5,1,1
27,157,4,1,1,1,2,1,1,1,3,...,1,3,1,1,2,1,4,1,2,1
28,220,1,3,2,3,3,3,4,1,2,...,1,4,1,2,1,3,3,1,3,1
29,221,4,3,3,1,2,1,1,1,3,...,3,4,1,3,1,4,4,2,2,1
30,222,4,1,3,1,3,1,1,1,3,...,2,3,1,2,1,3,3,2,2,1
31,223,4,1,3,1,4,1,1,1,3,...,1,2,1,3,1,5,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,4,1,2,1,2,1,1,1,2,...,1,2,1,2,1,3,3,1,4,1
174,291,4,1,4,1,5,1,1,1,4,...,1,2,1,3,1,4,5,1,3,1
175,292,2,5,1,1,3,1,1,1,1,...,1,2,1,2,1,5,5,1,1,1
176,293,4,1,4,1,5,1,1,1,4,...,1,4,1,3,3,4,5,1,5,1
177,294,4,1,5,1,4,1,1,1,5,...,1,2,1,5,1,5,5,1,5,1
178,295,4,1,4,1,3,1,1,1,4,...,1,4,1,4,1,5,5,1,4,1
179,296,5,1,5,1,4,1,1,1,5,...,1,3,1,3,2,5,5,3,4,1
180,228,3,1,2,1,3,1,2,1,2,...,1,2,1,2,1,1,2,1,2,1
181,229,2,1,1,1,3,1,1,1,1,...,1,4,1,1,1,3,4,1,2,1
182,297,3,1,2,1,3,1,1,1,2,...,1,4,1,3,1,3,4,1,2,1
183,298,4,2,3,1,2,1,2,1,4,...,1,4,1,3,3,4,3,2,2,2
184,299,4,2,2,1,2,1,1,1,2,...,1,3,1,1,2,2,3,1,1,1
185,2002,4,3,4,1,5,1,1,1,4,...,1,4,1,3,3,5,4,2,3,1
186,2003,4,2,4,2,5,1,1,1,4,...,1,5,1,5,2,5,5,1,5,1
187,2004,4,1,3,1,3,1,1,1,3,...,1,5,1,3,2,3,5,1,5,1
188,2006,3,1,4,1,2,1,1,2,3,...,1,4,1,3,1,3,4,4,4,1
189,2005,3,1,2,1,2,1,1,1,2,...,1,4,1,2,1,4,4,1,2,1
190,2008,4,2,3,1,3,1,2,1,3,...,1,3,1,3,2,3,3,3,4,1
191,2009,4,1,3,1,3,1,1,1,5,...,1,4,1,3,1,4,5,2,5,1
192,2010,4,1,2,1,2,1,1,1,4,...,1,4,1,3,2,5,4,1,3,1
193,2007,4,1,4,1,3,1,1,1,5,...,1,5,1,2,2,4,5,2,5,1
194,2011,4,1,2,1,4,1,1,1,4,...,1,5,1,3,1,5,5,1,5,1
195,258,4,1,4,1,5,1,1,1,5,...,1,5,1,3,1,4,5,1,3,1
196,266,4,3,4,3,3,4,3,1,3,...,3,4,1,3,4,4,3,3,4,3
197,167,5,1,5,1,3,2,1,1,5,...,1,3,1,3,3,5,3,3,3,1
198,204,3,1,2,1,2,1,1,1,3,...,1,4,1,2,2,3,4,2,2,1
199,256,4,1,3,1,2,1,1,1,4,...,2,5,1,3,4,5,5,1,3,2
200,2001,3,3,4,3,5,2,2,4,4,...,3,4,2,4,3,5,4,2,4,2
201,270,5,1,5,1,4,1,1,1,4,...,1,5,1,3,1,4,5,1,4,1
202,280,4,1,3,1,3,1,2,1,4,...,2,4,1,5,2,3,5,4,4,2

In [49]:
df=frames['econdec-post']

In [50]:
df=frames['eyetrack-pre']

In [51]:
df=frames['eyetrack-post']