In [1]:
import os
import pandas as pd

In [2]:
source_dir = os.path.join(os.path.abspath('..'),'sourcedata','qualtrics')
derivs_dir = os.path.join(os.path.abspath('..'),'derivatives','qualtrics')

In [3]:
frames={}

In [4]:
for f in os.listdir(source_dir):
    if f.startswith('180514'):
        keyname = f.strip('180514_.csv')
        fname = os.path.join(source_dir, f)
        frames[keyname] = pd.read_csv(fname)

In [5]:
frames.keys()

dict_keys(['econdec-post', 'econdec-pre', 'eyetrack-post', 'eyetrack-pre'])

# Econdec-Pre

In [6]:
econdec_pre_frame=frames['econdec-pre']
econdec_pre_frame=econdec_pre_frame[econdec_pre_frame['Finished'] == '1']

In [7]:
econdec_demographics_columns = ['SSID','Q1','Q2','Q3','Q4','Q5','Q5_6_TEXT','Q6','Q7_1',
                 'Q8','Q9','Q10','Q11_1','Q12_1','Q13','Q14','Q14_4_TEXT','Q15']

In [8]:
econdec_demographics_frame = econdec_pre_frame[econdec_demographics_columns]
econdec_demographics_frame

,SSID,Q1,Q2,Q3,Q4,Q5,Q5_6_TEXT,Q6,Q7_1,Q8,Q9,Q10,Q11_1,Q12_1,Q13,Q14,Q14_4_TEXT,Q15
2,201,20,1,14,2,1,NaN,Student,8,2,7,7.5,7,7,1,4,Insufficient funds to live at a good standard.,00233
3,202,19,2,14,1,2,NaN,Student,8,4,8,8,1,3,4,NaN,NaN,34109
4,203,19,2,12,2,2,NaN,Sales Associate,9,4,6,8,2,5,6,NaN,NaN,33071
5,146,18,1,13,1,2,NaN,Student,9,2,8,8,2,5,7,NaN,NaN,32828
6,205,23,1,16,1,2,NaN,programmer,6,3,7,8.5,5,2,5,4,moving to a new country,33027
7,206,19,2,14,2,2,NaN,student,8,4,5,7,3,2,7,NaN,NaN,75206
8,207,19,1,13,2,1,NaN,student,9,4,5,4,1,5,5,NaN,NaN,33020
9,208,18,1,12,2,2,NaN,student,8,3,7,7,7,5,2,NaN,NaN,32233
10,209,18,2,12,2,1,NaN,student full time,9,2,7,6,1,5,6,NaN,NaN,33511
11,210,19,2,13,2,2,NaN,Student,8,1,7,6,5,3,5,NaN,NaN,33596
12,211,18,2,12,2,1,NaN,NaN,8,2,7,8,2,6,6,NaN,NaN,19120
13,212,19,2,14,2,6,Haitian American,Student,9,NaN,8,8,2,3,5,NaN,NaN,33067
14,213,18,2,13,2,1,NaN,Student,8,2,5,5,5,5,6,NaN,NaN,32065
15,148,18,1,12,2,2,NaN,student,8,3,10,6,5,3,7,NaN,NaN,19446
16,150,22,1,15,2,2,NaN,house painter,7,2,8,7.5,3,5,5,NaN,NaN,39828
17,147,19,2,12,1,2,NaN,NaN,9,2,8,9,2,5,3,1,NaN,32097
18,214,18,2,12,2,2,NaN,student,9,3,8,8,2,5,5,NaN,NaN,33547
19,215,19,2,13,2,2,NaN,Student worker,8,1,7,8,4,7,2,1,NaN,32724
20,216,20,1,15,2,2,NaN,Student,7,2,7,5,2,5,7,NaN,NaN,32804
21,152,18,1,12,1,2,NaN,none,7,4,8,10,7,6,6,NaN,NaN,33418
22,153,18,2,18,2,2,NaN,student,7,4,7,7,4,5,1,NaN,NaN,32570
23,217,18,1,12,2,"1,2,4",NaN,biomedicine,8,2,8,6,2,3,1,NaN,NaN,32224
24,155,21,2,15,2,2,NaN,fortune teller,7,1,6.5,6.5,3,2,7,4,let go from a job due to economic struggles,29483
25,218,20,2,14,1,2,NaN,student,7,4,8,7,2,3,2,NaN,NaN,33177
26,219,18,2,12,2,1,NaN,NaN,8,2,8,7,7,5,NaN,NaN,NaN,78108
27,157,19,1,14,2,6,African American and Asian,Student,8,3,6.5,6,1,5,7,NaN,NaN,33186
28,220,23,2,18,1,"1,6",African and cuban,Massage Therapist,6,1,7,7,6,4,4,"1,2,3",NaN,32825
29,221,19,2,14,1,2,NaN,Student,8,4,7,6.5,5,6,7,NaN,NaN,33324
30,222,19,2,13.5,2,6,caucasian and asian,student/food service worker,7,1,9,7,8,7,4,NaN,NaN,32613
31,223,28,2,14,1,"2,6",Causacian and Panamanian,Banquet Server.,7,3,6.5,5.5,7,5,5,1,NaN,80121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,18,1,12,2,2,NaN,student,8,4,4,6,3,6,7,1,NaN,32408
174,291,18,2,13,2,"1,2",NaN,Nursing,8,3,8,7,2,2,6,NaN,NaN,32603
175,292,18,2,14,1,6,white,Call center rep.,NaN,4,3,8,1,5,4,"1,4",debt,19120
176,293,18,2,12,2,5,NaN,Student,9,2,9,9-10,5,5,7,4,none,33996
177,294,18,2,12,1,2,NaN,Student at UCF,9,4,7,5-6,5,5,7,"1,4",Caring/providing care (financially) for my gra...,33016
178,295,18,2,12,2,2,NaN,NaN,7,2,7,8,3,6,5,NaN,NaN,44657
179,296,19,1,12,2,3,NaN,student,8,2,7,7,4,5,6,NaN,NaN,32824
180,228,19,2,12,1,7,NaN,student,8,4,4,6,3,1,5,NaN,NaN,33178
181,229,19,1,13,2,1,NaN,NaN,9,2,7,6,2,4,6,NaN,NaN,32703
182,297,18,2,12,2,1,NaN,NaN,7,3,7,8,2,1,2,1,NaN,32808
183,298,18,2,12,2,2,NaN,student,7,3,9,10,5,6,6,1,NaN,32003
184,299,19,2,13,2,2,NaN,student,7,4,7,7,3,4,7,NaN,NaN,33510
185,2002,18,2,12,2,1,NaN,student,9,4,7,8-12,4,7,NaN,NaN,NaN,33186
186,2003,19,2,12,2,2,NaN,student,8,1,7,7-8,5,4,5,"1,2",NaN,34286
187,2004,18,1,12,2,2,NaN,not employed,8,2,6,6-10,3,5,7,NaN,NaN,33436
188,2006,18,2,13,2,2,NaN,student studying biomed,7,2,7.5,7-8,2,2,5,4,NaN,32837
189,2005,18,2,12,2,2,NaN,NaN,9,4,8,8-9,1,5,7,NaN,NaN,32034
190,2008,18,2,12,2,2,NaN,None,7,2,9,7,5,5,7,NaN,NaN,33414
191,2009,18,2,12,2,2,NaN,Student,8,3,9,9-10,2,5,7,NaN,NaN,60525
192,2010,18,1,12,2,2,NaN,Student,9,4,6.5,7-8,3,5,5,NaN,NaN,33321
193,2007,18,2,12,2,1,NaN,NaN,7,3,9,10,2,6,6,NaN,NaN,33647
194,2011,23,2,15,1,7,NaN,student,8,NaN,8,6-8,5,5,4,1,NaN,32829
195,258,23,2,18,2,3,NaN,student,6,4,8,8,2,4,2,NaN,NaN,34734
196,266,19,1,14,2,1,NaN,NaN,9,1,8,7,3,5,5,1,NaN,33844
197,167,24,2,15,1,7,NaN,student/server,9,1,6,8,5,5,2,NaN,NaN,34743
198,204,19,2,12,2,1,NaN,no job,8,4,7,7.5,2,5,4,1,NaN,33063
199,256,23,2,17,2,1,NaN,Graphic Design,8,3,8,8,3,5,4,1,NaN,32244
200,2001,22,2,15,1,2,NaN,student,8,3,8,9,7,5,2,4,more people living in our home,32738
201,270,22,1,15,2,3,NaN,Electrical Engineering Student,7,4,7,8,3,8,2,NaN,NaN,32817
202,280,20,1,14,1,2,NaN,student,8,2,6,7,4,2,7,4,NaN,33326

In [9]:
econdec_panas_columns = ['SSID','Q42','Q43','Q44','Q45','Q46','Q47','Q48','Q49','Q50','Q51',
                 'Q52','Q53','Q54','Q55','Q56','Q57','Q58','Q59','Q60','Q61']

In [10]:
econdec_panas_frame = econdec_pre_frame[econdec_panas_columns]
econdec_panas_frame

,SSID,Q42,Q43,Q44,Q45,Q46,Q47,Q48,Q49,Q50,...,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,Q60,Q61
2,201,3,1,3,1,2,1,2,1,4,...,1,3,1,4,4,3,3,4,4,1
3,202,3,1,3,1,4,1,1,1,4,...,1,5,1,3,1,4,5,1,5,1
4,203,4,1,3,1,3,1,2,1,3,...,1,5,1,1,2,3,5,2,3,1
5,146,4,1,4,1,4,1,1,1,3,...,1,3,1,2,4,4,4,3,4,1
6,205,3,4,2,2,2,1,3,1,3,...,4,2,1,4,5,4,2,2,2,2
7,206,4,1,4,1,2,1,1,1,4,...,1,3,1,3,1,4,4,1,3,1
8,207,5,3,1,1,5,1,1,1,3,...,1,5,1,4,1,5,5,1,5,1
9,208,4,1,1,1,4,1,1,1,3,...,1,3,1,1,1,2,4,1,3,1
10,209,5,1,5,1,3,1,1,1,4,...,1,5,1,2,1,4,5,3,4,1
11,210,5,2,4,1,3,1,1,1,4,...,1,5,1,5,2,4,5,3,3,1
12,211,4,3,3,4,4,2,3,3,3,...,3,5,2,4,4,5,5,1,3,2
13,212,4,1,3,1,4,1,1,1,4,...,1,4,1,4,1,4,5,1,4,1
14,213,3,1,2,1,2,1,1,1,2,...,1,3,1,1,1,3,4,3,3,1
15,148,3,1,1,1,2,1,1,1,2,...,1,3,1,1,1,2,3,1,3,1
16,150,4,1,4,1,4,1,1,1,5,...,1,4,1,4,4,5,5,1,4,1
17,147,5,1,5,1,2,1,1,1,5,...,1,4,1,2,1,4,5,1,3,1
18,214,4,1,4,1,3,1,1,1,4,...,1,3,1,2,1,4,4,1,3,1
19,215,4,3,3,1,3,1,1,1,2,...,1,3,1,2,1,4,4,1,2,1
20,216,3,1,2,1,3,1,1,1,4,...,1,5,1,3,1,4,4,1,5,1
21,152,4,2,2,2,2,2,1,1,2,...,1,3,1,2,1,1,2,1,2,1
22,153,3,1,2,1,3,1,1,1,2,...,1,4,1,1,2,3,4,2,1,1
23,217,4,4,4,1,1,1,1,1,2,...,1,3,1,3,2,4,3,1,3,1
24,155,5,1,3,2,2,1,1,1,4,...,1,2,1,3,1,3,2,1,2,1
25,218,3,1,3,1,3,1,1,1,3,...,1,4,1,2,2,3,4,2,3,1
26,219,1,1,1,1,1,1,1,2,1,...,2,1,1,1,1,1,5,5,1,1
27,157,4,1,1,1,2,1,1,1,3,...,1,3,1,1,2,1,4,1,2,1
28,220,1,3,2,3,3,3,4,1,2,...,1,4,1,2,1,3,3,1,3,1
29,221,4,3,3,1,2,1,1,1,3,...,3,4,1,3,1,4,4,2,2,1
30,222,4,1,3,1,3,1,1,1,3,...,2,3,1,2,1,3,3,2,2,1
31,223,4,1,3,1,4,1,1,1,3,...,1,2,1,3,1,5,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,4,1,2,1,2,1,1,1,2,...,1,2,1,2,1,3,3,1,4,1
174,291,4,1,4,1,5,1,1,1,4,...,1,2,1,3,1,4,5,1,3,1
175,292,2,5,1,1,3,1,1,1,1,...,1,2,1,2,1,5,5,1,1,1
176,293,4,1,4,1,5,1,1,1,4,...,1,4,1,3,3,4,5,1,5,1
177,294,4,1,5,1,4,1,1,1,5,...,1,2,1,5,1,5,5,1,5,1
178,295,4,1,4,1,3,1,1,1,4,...,1,4,1,4,1,5,5,1,4,1
179,296,5,1,5,1,4,1,1,1,5,...,1,3,1,3,2,5,5,3,4,1
180,228,3,1,2,1,3,1,2,1,2,...,1,2,1,2,1,1,2,1,2,1
181,229,2,1,1,1,3,1,1,1,1,...,1,4,1,1,1,3,4,1,2,1
182,297,3,1,2,1,3,1,1,1,2,...,1,4,1,3,1,3,4,1,2,1
183,298,4,2,3,1,2,1,2,1,4,...,1,4,1,3,3,4,3,2,2,2
184,299,4,2,2,1,2,1,1,1,2,...,1,3,1,1,2,2,3,1,1,1
185,2002,4,3,4,1,5,1,1,1,4,...,1,4,1,3,3,5,4,2,3,1
186,2003,4,2,4,2,5,1,1,1,4,...,1,5,1,5,2,5,5,1,5,1
187,2004,4,1,3,1,3,1,1,1,3,...,1,5,1,3,2,3,5,1,5,1
188,2006,3,1,4,1,2,1,1,2,3,...,1,4,1,3,1,3,4,4,4,1
189,2005,3,1,2,1,2,1,1,1,2,...,1,4,1,2,1,4,4,1,2,1
190,2008,4,2,3,1,3,1,2,1,3,...,1,3,1,3,2,3,3,3,4,1
191,2009,4,1,3,1,3,1,1,1,5,...,1,4,1,3,1,4,5,2,5,1
192,2010,4,1,2,1,2,1,1,1,4,...,1,4,1,3,2,5,4,1,3,1
193,2007,4,1,4,1,3,1,1,1,5,...,1,5,1,2,2,4,5,2,5,1
194,2011,4,1,2,1,4,1,1,1,4,...,1,5,1,3,1,5,5,1,5,1
195,258,4,1,4,1,5,1,1,1,5,...,1,5,1,3,1,4,5,1,3,1
196,266,4,3,4,3,3,4,3,1,3,...,3,4,1,3,4,4,3,3,4,3
197,167,5,1,5,1,3,2,1,1,5,...,1,3,1,3,3,5,3,3,3,1
198,204,3,1,2,1,2,1,1,1,3,...,1,4,1,2,2,3,4,2,2,1
199,256,4,1,3,1,2,1,1,1,4,...,2,5,1,3,4,5,5,1,3,2
200,2001,3,3,4,3,5,2,2,4,4,...,3,4,2,4,3,5,4,2,4,2
201,270,5,1,5,1,4,1,1,1,4,...,1,5,1,3,1,4,5,1,4,1
202,280,4,1,3,1,3,1,2,1,4,...,2,4,1,5,2,3,5,4,4,2

In [11]:
econdec_BISBAS_columns = ['SSID','Q17','Q18','Q19','Q20','Q21','Q22','Q23','Q24',
                          'Q25','Q26','Q27','Q28','Q29','Q30','Q31','Q32','Q33',
                          'Q34','Q35','Q36','Q37','Q38','Q39','Q40']

In [12]:
econdec_BISBAS_frame = econdec_pre_frame[econdec_BISBAS_columns]
econdec_BISBAS_frame

,SSID,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,...,Q31,Q32,Q33,Q34,Q35,Q36,Q37,Q38,Q39,Q40
2,201,2,3,2,1,3,1,1,2,1,...,3,3,1,1,2,2,3,2,1,1
3,202,1,3,2,1,1,2,1,3,2,...,2,3,1,1,2,1,2,1,1,3
4,203,1,4,1,1,1,2,1,2,2,...,3,1,1,1,1,1,2,2,1,1
5,146,1,3,2,1,2,2,1,2,2,...,3,3,2,3,2,2,3,3,1,1
6,205,2,3,1,1,1,2,1,3,2,...,3,1,1,1,1,1,2,3,1,1
7,206,2,4,2,1,1,2,2,2,3,...,3,2,2,2,2,2,3,3,1,1
8,207,1,2,1,1,1,1,1,4,1,...,1,3,1,2,1,2,1,1,1,1
9,208,1,4,3,1,2,2,1,2,3,...,3,2,1,2,1,4,4,3,1,2
10,209,1,4,1,1,2,1,1,1,2,...,2,2,1,2,3,1,2,4,1,1
11,210,1,4,1,1,1,2,1,2,1,...,2,3,1,1,3,1,2,3,1,2
12,211,1,2,1,1,1,3,1,3,1,...,1,1,1,1,1,1,2,3,1,1
13,212,1,4,1,1,1,2,1,2,3,...,3,3,1,1,2,2,3,2,1,2
14,213,1,4,2,1,1,4,1,2,2,...,2,1,1,1,2,3,3,3,1,2
15,148,1,4,2,2,1,2,1,3,2,...,2,1,2,1,2,2,2,3,2,1
16,150,1,2,1,1,2,2,1,3,1,...,3,3,2,2,3,2,3,1,1,3
17,147,1,3,2,1,1,2,1,3,1,...,2,3,1,1,2,1,1,3,1,1
18,214,1,3,2,1,2,3,1,2,2,...,2,2,2,2,2,2,2,3,1,2
19,215,3,2,4,1,1,2,1,4,3,...,2,3,2,2,2,1,2,2,1,2
20,216,2,2,3,1,1,2,2,4,4,...,2,4,3,2,1,2,2,1,1,2
21,152,1,3,2,1,2,1,1,2,2,...,2,2,1,1,1,1,3,3,1,1
22,153,1,4,2,2,2,2,1,1,1,...,2,1,2,3,1,3,3,4,1,1
23,217,1,3,3,1,1,2,2,3,2,...,3,3,2,2,1,2,3,2,1,2
24,155,2,2,2,2,1,2,1,3,3,...,1,2,1,1,3,1,2,2,1,4
25,218,1,3,2,1,1,3,1,2,2,...,2,2,1,1,1,2,2,3,1,2
26,219,2,3,3,1,3,2,2,2,3,...,2,2,2,2,2,2,3,3,2,2
27,157,2,2,3,1,1,3,2,3,3,...,2,3,3,2,3,2,3,2,3,2
28,220,1,3,1,1,1,2,1,3,1,...,1,1,1,2,1,1,1,2,1,1
29,221,1,4,2,1,1,2,1,2,1,...,3,2,2,1,1,2,2,3,2,1
30,222,3,3,2,1,1,1,1,2,2,...,2,3,2,2,1,1,2,2,1,2
31,223,1,3,2,1,1,3,1,3,2,...,3,3,1,1,2,3,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,1,3,2,2,2,2,1,3,2,...,2,2,1,2,3,2,3,1,2,4
174,291,1,1,1,1,1,2,1,3,1,...,4,1,1,1,4,1,1,1,3,4
175,292,1,3,2,1,1,1,1,3,1,...,1,1,1,1,1,1,3,4,1,1
176,293,1,3,2,1,1,1,1,2,1,...,3,2,1,1,1,1,2,1,1,2
177,294,1,3,2,1,1,1,1,2,2,...,2,2,1,1,1,2,2,1,2,1
178,295,1,3,3,1,1,2,2,3,3,...,2,2,1,1,2,2,3,3,1,1
179,296,1,3,4,1,1,1,1,2,2,...,3,2,2,1,2,2,2,2,1,1
180,228,2,2,1,1,1,4,1,2,1,...,1,2,1,1,1,1,1,2,1,2
181,229,1,4,2,2,3,2,1,4,3,...,4,4,1,2,3,2,3,3,2,2
182,297,1,3,3,1,2,2,1,3,3,...,4,3,2,1,1,3,3,2,1,1
183,298,1,4,2,1,2,2,1,1,2,...,4,2,1,2,1,3,3,3,1,1
184,299,4,4,2,1,1,3,1,1,1,...,3,2,1,1,2,2,3,4,1,2
185,2002,1,3,2,1,1,3,1,2,1,...,4,1,2,1,1,2,3,4,1,1
186,2003,1,4,1,1,2,1,1,2,2,...,3,2,1,1,1,3,2,2,2,2
187,2004,1,3,1,2,2,1,2,4,2,...,3,3,1,1,2,2,3,2,1,2
188,2006,1,3,2,1,2,2,2,2,2,...,2,2,2,2,2,2,3,3,1,2
189,2005,1,4,3,2,1,3,1,2,4,...,3,1,2,2,2,2,3,3,1,2
190,2008,1,3,2,1,1,2,1,2,2,...,2,2,1,1,2,1,2,2,1,2
191,2009,1,2,2,1,1,3,1,4,3,...,1,3,2,1,2,1,3,2,1,3
192,2010,2,4,3,1,1,1,2,3,3,...,1,3,1,2,1,3,3,3,1,1
193,2007,2,1,2,1,3,3,3,2,3,...,2,3,1,1,2,3,3,1,1,1
194,2011,1,3,2,1,1,1,1,3,2,...,4,3,1,1,1,2,3,3,1,1
195,258,3,4,2,1,1,2,3,2,1,...,4,1,1,2,1,3,4,3,2,1
196,266,2,3,2,2,2,3,1,3,2,...,3,1,1,1,1,1,3,4,1,1
197,167,1,2,1,1,1,2,1,4,1,...,3,3,2,2,2,2,3,2,1,2
198,204,2,3,2,1,1,2,1,3,3,...,3,3,1,1,2,1,3,3,2,1
199,256,1,4,2,1,2,4,1,2,1,...,3,3,2,1,1,2,4,2,1,1
200,2001,1,4,1,1,1,2,1,4,1,...,1,1,1,1,1,2,1,3,1,1
201,270,1,2,3,1,1,2,1,2,4,...,4,4,1,1,1,2,4,4,1,1
202,280,3,2,2,1,2,1,1,2,2,...,1,1,1,1,1,2,2,2,1,2

In [13]:
econdec_dms_columns = ['SSID','Q63','Q64','Q65','Q66','Q67','Q68','Q69','Q70','Q71',
                       'Q72','Q73','Q74','Q75','Q76','Q77','Q78','Q79','Q80','Q81',
                       'Q82','Q83','Q84','Q85','Q86','Q87']

In [14]:
econdec_dms_frame = econdec_pre_frame[econdec_dms_columns]
econdec_dms_frame

,SSID,Q63,Q64,Q65,Q66,Q67,Q68,Q69,Q70,Q71,...,Q78,Q79,Q80,Q81,Q82,Q83,Q84,Q85,Q86,Q87
2,201,5,2,4,4,3,5,4,1,3,...,3,4,2,4,3,5,4,2,2,5
3,202,5,2,5,5,3,5,5,2,3,...,1,5,2,2,5,5,1,3,4,2
4,203,5,5,5,3,4,4,4,3,5,...,4,4,3,5,3,4,5,3,3,5
5,146,4,4,5,3,3,4,2,1,3,...,3,4,1,4,4,5,2,1,2,3
6,205,5,5,5,3,5,3,5,3,2,...,3,5,4,5,5,5,2,2,3,4
7,206,4,5,3,4,4,3,3,2,3,...,5,2,2,5,3,4,4,2,3,5
8,207,5,4,5,5,5,2,5,3,5,...,5,2,5,5,5,5,5,5,5,2
9,208,5,4,5,3,3,4,4,3,5,...,2,4,3,5,3,2,3,3,5,5
10,209,5,5,5,5,5,5,5,5,1,...,5,1,5,5,5,3,2,5,5,3
11,210,5,4,5,4,2,4,4,1,3,...,2,4,2,5,4,5,2,1,3,4
12,211,5,3,4,4,4,4,3,4,3,...,2,3,4,5,4,4,5,3,5,5
13,212,5,2,5,3,1,5,2,1,1,...,1,4,2,3,4,5,2,1,3,3
14,213,5,5,3,4,4,4,5,4,5,...,5,3,4,5,4,5,5,4,4,5
15,148,4,5,5,4,3,3,4,3,3,...,3,3,3,5,4,4,4,3,4,5
16,150,5,4,5,2,1,4,3,1,2,...,2,4,2,5,4,4,1,1,2,4
17,147,4,3,5,4,2,4,4,3,5,...,2,5,3,5,3,5,4,3,5,4
18,214,4,4,4,3,2,4,3,2,2,...,2,4,3,4,3,4,3,2,4,3
19,215,4,4,5,4,2,5,4,2,2,...,1,4,1,3,4,4,1,1,2,4
20,216,4,5,4,2,1,5,3,3,1,...,2,5,2,4,2,5,2,3,1,4
21,152,4,4,4,4,3,3,3,3,4,...,5,4,3,5,3,4,5,3,5,5
22,153,4,5,5,2,4,5,1,2,3,...,5,4,2,5,2,5,5,1,5,5
23,217,4,3,5,3,3,4,3,2,2,...,1,4,1,5,3,5,2,2,3,4
24,155,4,3,3,3,2,4,2,3,4,...,2,3,4,3,3,5,3,4,1,3
25,218,4,5,5,3,4,5,4,3,3,...,3,4,2,5,4,4,3,3,3,4
26,219,4,4,4,4,3,4,4,4,1,...,1,1,1,4,4,4,1,1,1,4
27,157,5,4,3,5,3,4,3,2,3,...,3,3,3,5,3,4,3,2,3,5
28,220,5,4,5,5,4,3,5,5,3,...,1,5,5,5,5,5,3,5,4,4
29,221,5,4,5,4,4,5,4,2,2,...,2,4,2,2,3,4,3,2,4,2
30,222,4,2,3,4,4,3,3,3,5,...,4,4,3,2,2,4,5,3,3,3
31,223,5,4,5,3,2,4,4,2,2,...,2,4,3,3,4,4,2,2,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,290,4,4,4,3,2,5,3,2,3,...,1,3,2,3,3,4,3,2,3,4
174,291,5,4,5,5,5,5,3,5,3,...,3,5,1,4,5,3,4,4,5,5
175,292,5,5,5,3,1,5,4,1,1,...,1,5,3,5,5,5,1,1,3,5
176,293,5,3,5,3,3,2,5,3,4,...,4,3,3,4,4,4,3,3,4,4
177,294,5,4,4,3,1,4,4,2,2,...,2,4,2,5,4,5,2,2,3,4
178,295,5,4,5,5,4,5,4,3,2,...,2,4,3,4,4,5,2,3,5,4
179,296,5,4,5,4,3,5,5,2,2,...,2,4,1,4,5,5,2,2,5,5
180,228,4,2,4,4,3,4,3,3,4,...,3,4,3,4,2,4,3,3,2,1
181,229,5,4,5,4,2,5,3,2,4,...,2,5,2,4,2,5,2,2,2,4
182,297,4,5,4,2,1,3,3,1,3,...,2,4,1,5,2,4,3,1,3,4
183,298,4,4,4,3,3,4,2,2,3,...,2,4,3,5,3,4,2,3,4,5
184,299,5,4,5,4,2,3,2,1,2,...,2,5,2,3,3,5,3,2,2,3
185,2002,5,4,5,2,1,5,5,3,2,...,2,5,1,5,5,5,1,1,3,4
186,2003,5,4,5,2,2,3,4,2,2,...,2,5,2,4,5,5,2,2,3,4
187,2004,5,3,3,4,2,3,3,2,2,...,1,3,3,5,4,4,3,2,4,4
188,2006,4,2,2,3,3,4,2,3,2,...,4,4,3,5,3,4,3,3,4,4
189,2005,5,5,4,4,2,5,3,1,1,...,3,4,2,5,3,5,1,1,5,5
190,2008,4,3,4,4,4,4,4,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2009,5,2,1,5,4,4,5,5,2,...,1,4,5,4,5,4,1,4,5,3
192,2010,4,3,4,3,3,4,2,4,4,...,4,4,3,4,3,4,4,3,2,4
193,2007,5,4,5,2,2,4,3,1,2,...,2,4,2,4,2,5,1,1,3,3
194,2011,5,3,5,5,2,5,3,2,2,...,1,3,1,5,4,5,2,1,3,4
195,258,2,3,5,2,1,5,2,1,1,...,1,4,1,4,2,5,1,2,1,3
196,266,4,5,5,1,3,5,2,1,1,...,3,4,2,2,2,5,3,2,3,4
197,167,5,1,5,4,2,5,3,2,2,...,1,5,2,3,3,5,1,2,2,3
198,204,4,5,4,4,2,3,4,2,3,...,2,4,2,4,4,3,3,2,4,4
199,256,4,4,5,4,1,4,2,1,1,...,2,5,2,4,3,5,1,2,1,3
200,2001,5,5,3,4,2,5,3,3,2,...,1,3,5,5,3,5,2,3,5,5
201,270,5,3,5,1,3,5,3,1,3,...,4,5,2,4,2,5,5,2,2,4
202,280,4,2,4,3,5,4,4,3,4,...,4,4,3,5,3,5,5,4,2,4

# Econdec-Post

In [15]:
econdec_post_frame=frames['econdec-post']
econdec_post_frame=econdec_post_frame[econdec_post_frame['Finished'] == '1']

In [16]:
econdec_finlit_columns = ['SSID','Q21','Q22']

In [17]:
econdec_finlit_frame = econdec_post_frame[econdec_finlit_columns]
econdec_finlit_frame

     SSID                                      Q21 Q22
2     201                                     2500   1
3     202                                     5000   1
4     203                                     6000   2
5     145                                     2000   4
6     204                                      500   1
7     205                                     8000   4
8     206                                     8000   3
9     207                                    3,500   5
10    208                                    3,000   4
11    209                                    3,575   1
12    210                                     5000   4
13    211                                     3500   5
14    212                                     4000   2
15    213                                     5000   5
16    150                                     3000   3
17    147                                    5,000   3
18    214                                    3,000   1
19    215                                     1500   3
20    216                                     8000   2
21    217                                        0   5
22    218                                      NaN   3
23    219                                      NaN   1
24    156                                     3500   3
25    157                                     4000   2
26    158                                    5,000   1
27    220                                     3000   5
28    221                                     5000   3
29    222                                    2,000   2
30    223  stock 5,000(x) + 5,000(10,000-x) saving   1
31    224                                 x=10,000   5
..    ...                                      ...  ..
184   294                 4000 stocks 6000 savings   1
185   295                                     3000   5
186   296                                      NaN   3
187   297                                    4,000   5
188   298                                     3000   2
189   299                                    5,000   4
190  2002                                    5,500   5
191  2001                                      NaN   1
192  2003                                     5000   4
193  2004                                     7500   5
194  2006                                    5,000   7
195  2005                                     5000   3
196  2008                                     2000   6
197  2009                                     1000   6
198  2007                                     6500   6
200   301                                   $2,000   3
201   302                                   $2,500   7
202   303                                    5,000   8
203   304                                    2,000   4
204   305                                     3000   1
205   306                                      500   8
206   308                                    2,000   5
207   309                                     7000   5
208   310                                     2000   3
209   311                                     2500   4
210   314                                     3000   3
211   313                                      500   1
212   312                                   $2,500   5
214  2011                                    5,000   7
215   266                                      NaN   3

[212 rows x 3 columns]

# Eyetrack-Pre

In [18]:
eyetrack_pre_frame=frames['eyetrack-pre']
eyetrack_pre_frame=eyetrack_pre_frame[eyetrack_pre_frame['Finished'] == '1']

In [19]:
eyetrack_demog_columns = ['SSID','Q4','Q6','Q8','Q10','Q12','Q12_6_TEXT','Q14',
                          'Q16_1','Q18','Q20','Q22','Q24_1','Q26_1','Q28','Q30','Q30_4_TEXT','Q32']

In [20]:
eyetrack_demog_frame = eyetrack_pre_frame[eyetrack_demog_columns]
eyetrack_demog_frame

,SSID,Q4,Q6,Q8,Q10,Q12,Q12_6_TEXT,Q14,Q16_1,Q18,Q20,Q22,Q24_1,Q26_1,Q28,Q30,Q30_4_TEXT,Q32
2,300,18,1,12,2,1,NaN,NaN,6,3,7,6,6,8,3,1,NaN,32773
3,301,18,1,12,2,2,NaN,Student,8,2,7,7,5,5,NaN,4,NaN,32765
4,302,18,1,14,1,6,Bolivian,Student,8,4,8,6,2,3,6,"1,3,4",fighting for a loan for a house,32828
5,303,18,2,12,2,2,NaN,NaN,9,3,7.5,7,2,5,NaN,1,NaN,08810
6,304,18,2,12,2,2,NaN,Student,9,2,7,7,3,5,5,NaN,NaN,33067
7,305,20,2,12,1,1,NaN,student,7,2,6,7,1,5,4,NaN,NaN,33844
8,306,18,2,12,2,2,NaN,NaN,9,1,9,8,1,NaN,7,NaN,NaN,33990
9,308,19,2,13,1,2,NaN,none,9,2,8,7,2,5,6,NaN,NaN,33028
10,309,19,2,12,3,1,NaN,NaN,8,2,7,7,6,7,7,4,school finances,33025
11,310,18,2,14,2,2,NaN,NaN,8,2,8,8,1,2,7,1,NaN,07860
12,311,18,1,14,1,2,NaN,Peer Mentor,9,3,11,7,2,2,4,NaN,NaN,33130
13,312,19,2,12,2,1,NaN,STUDENT,8,4,7,7,2,2,4,1,NaN,33056
14,313,18,2,14,2,1,NaN,NaN,8,4,7,7,5,7,4,NaN,NaN,33023
15,314,20,2,14,2,2,NaN,NaN,9,3,8,8,2,5,3,NaN,NaN,32816
16,315,18,2,12,2,1,NaN,Student,7,4,7,6,6,6,7,NaN,NaN,33027
17,316,19,2,14,1,6,NaN,Student,7,2,6,6,4,3,7,NaN,NaN,11841
18,317,18,2,12,2,1,NaN,NaN,6,1,6,7,6,4,NaN,NaN,NaN,77044
19,318,18,1,12,2,2,NaN,student,8,3,8,8,5,5,NaN,NaN,NaN,48475
20,319,22,1,17,2,3,NaN,student,7,1,8,8,7,3,NaN,NaN,NaN,32826
21,320,20,2,13,2,1,NaN,Licensed Practical Nurse,9,2,6,7,3,5,1,1,NaN,33162
22,321,23,2,14,2,1,NaN,student,7,1,5,7,NaN,5,3,"1,2",NaN,33056
23,322,18,2,12,2,2,NaN,student,8,3,5,7,5,3,NaN,1,NaN,33774
24,323,20,2,13,2,3,NaN,student,NaN,1,7,7,NaN,5,4,2,NaN,32765
25,324,25,1,15,2,2,NaN,teacher,9,1,8,8,2,5,5,NaN,NaN,34471
26,325,20,2,15,1,2,NaN,Student,7,1,6,6,6,4,5,NaN,NaN,33166
27,326,19,2,13,2,3,NaN,Student,9,4,9,6,6,6,6,NaN,NaN,33027
28,327,18,1,14,2,1,NaN,Student,7,2,8,7,3,5,6,1,NaN,32601
29,328,19,1,13,2,2,NaN,student,8,3,7,8,4,4,7,NaN,NaN,34711

In [21]:
eyetrack_pinas_columns = ['SSID','Q86','Q88','Q90','Q92','Q94','Q96','Q98','Q100',
                          'Q102','Q104','Q106','Q108','Q110','Q112','Q114','Q116',
                          'Q118','Q120','Q122','Q124']

In [22]:
eyetrack_pinas_frame = eyetrack_pre_frame[eyetrack_pinas_columns]
eyetrack_pinas_frame

,SSID,Q86,Q88,Q90,Q92,Q94,Q96,Q98,Q100,Q102,...,Q106,Q108,Q110,Q112,Q114,Q116,Q118,Q120,Q122,Q124
2,300,3,1,2,1,2,1,1,1,3,...,2,2,1,3,1,4,3,1,4,1
3,301,4,3,4,3,3,2,2,1,4,...,1,4,1,3,2,3,4,1,4,1
4,302,4,1,4,1,3,1,1,1,4,...,1,5,1,3,2,5,5,1,4,1
5,303,3,1,4,1,3,1,1,1,5,...,1,3,1,3,1,3,3,2,3,1
6,304,4,1,4,1,4,1,1,1,4,...,1,4,1,4,1,5,5,1,5,1
7,305,5,4,5,1,3,1,1,1,3,...,2,5,1,3,1,4,5,5,4,1
8,306,4,3,3,1,4,1,1,1,5,...,1,4,1,4,1,5,5,1,5,1
9,308,4,1,3,1,2,1,1,1,3,...,1,4,1,1,2,4,4,2,5,1
10,309,3,3,3,1,3,1,1,1,1,...,3,4,1,4,1,4,4,1,4,1
11,310,4,1,4,1,4,1,1,1,3,...,1,4,1,4,1,3,5,1,4,1
12,311,4,1,3,1,3,1,1,1,3,...,1,3,2,4,1,5,3,1,3,1
13,312,3,1,2,1,3,1,1,1,2,...,1,3,1,2,1,3,3,1,2,1
14,313,5,1,5,1,5,1,4,1,5,...,4,3,1,5,4,5,4,4,4,4
15,314,4,5,4,1,4,1,1,4,4,...,2,4,1,4,1,3,5,2,3,1
16,315,4,2,4,1,3,1,1,1,3,...,1,4,1,3,2,3,3,2,2,1
17,316,4,2,4,1,3,1,1,1,3,...,2,4,1,4,2,4,4,1,3,1
18,317,2,1,1,1,1,1,1,1,2,...,1,3,1,1,2,1,1,1,2,1
19,318,4,2,3,1,3,1,1,1,4,...,2,4,1,3,3,4,4,1,4,1
20,319,5,1,5,1,5,1,1,1,5,...,1,5,1,4,2,5,5,2,5,1
21,320,5,1,3,1,3,1,1,1,3,...,1,4,1,3,1,5,4,4,4,1
22,321,4,1,3,1,3,1,1,1,3,...,1,4,1,3,1,1,4,1,1,1
23,322,3,1,3,1,1,1,1,1,3,...,3,2,1,1,2,3,3,4,2,1
24,323,3,3,3,2,2,1,2,2,3,...,1,2,1,3,3,3,3,1,3,2
25,324,5,1,5,1,5,1,1,1,5,...,1,5,1,5,1,5,5,1,5,1
26,325,4,3,3,1,3,1,1,1,3,...,1,4,1,3,1,3,4,1,3,1
27,326,5,2,4,1,3,1,1,1,3,...,1,4,1,3,1,3,5,4,4,1
28,327,4,2,3,1,3,1,1,1,4,...,1,4,1,2,1,3,4,1,4,1
29,328,3,2,4,1,3,1,2,2,4,...,2,5,1,4,3,5,3,3,5,2

In [23]:
eyetrack_BISBAS_columns = ['SSID','Q36','Q38','Q40','Q42','Q44','Q46','Q48',
                            'Q50','Q52','Q54','Q56','Q58','Q60','Q62','Q64','Q66',
                            'Q68','Q70','Q72','Q74','Q76','Q78','Q80','Q82']

In [24]:
eyetrack_BISBAS_frame = eyetrack_pre_frame[eyetrack_BISBAS_columns]
eyetrack_BISBAS_frame

,SSID,Q36,Q38,Q40,Q42,Q44,Q46,Q48,Q50,Q52,...,Q64,Q66,Q68,Q70,Q72,Q74,Q76,Q78,Q80,Q82
2,300,3,3,2,1,3,2,2,1,3,...,4,2,1,3,2,3,4,2,1,1
3,301,1,3,2,1,1,2,1,2,2,...,2,2,2,2,1,1,3,2,1,1
4,302,2,3,2,1,1,2,2,4,2,...,3,3,4,1,1,2,4,2,2,1
5,303,1,2,3,1,1,3,1,3,2,...,2,3,1,1,2,1,2,2,1,2
6,304,1,4,2,1,1,2,1,3,2,...,1,2,1,1,1,1,2,4,1,2
7,305,1,4,2,1,1,1,1,3,1,...,3,2,1,1,1,1,3,2,1,1
8,306,1,3,2,1,1,2,1,3,2,...,1,1,1,1,1,1,2,2,1,1
9,308,1,2,2,1,1,3,2,3,1,...,3,3,1,1,1,2,2,3,3,2
10,309,1,4,1,1,3,1,1,2,1,...,4,1,1,1,1,1,1,1,1,1
11,310,1,4,2,1,1,2,1,2,2,...,2,1,1,1,1,2,2,3,1,1
12,311,1,3,2,1,1,2,1,2,2,...,1,3,1,1,2,1,2,2,1,1
13,312,1,4,1,1,3,1,1,1,3,...,4,2,1,1,1,2,4,4,1,2
14,313,2,3,2,1,1,1,1,2,2,...,1,1,1,1,1,1,2,3,1,1
15,314,1,2,2,1,1,2,1,3,2,...,2,3,1,2,1,2,2,3,1,2
16,315,1,4,2,1,2,1,1,2,2,...,3,3,1,1,1,2,2,3,1,1
17,316,2,2,1,1,1,3,1,3,1,...,2,2,1,2,1,2,1,2,1,2
18,317,1,4,3,1,3,1,1,1,2,...,1,2,3,2,1,2,4,3,1,1
19,318,1,3,2,2,2,2,1,2,3,...,4,1,2,1,1,3,3,3,2,2
20,319,1,2,4,1,4,1,1,3,1,...,1,1,1,1,1,3,2,1,2,4
21,320,1,3,1,1,1,2,1,2,1,...,1,3,1,1,2,3,3,3,1,1
22,321,2,3,4,1,2,2,1,1,3,...,4,3,2,1,1,4,4,3,1,1
23,322,1,4,2,1,1,2,2,1,2,...,3,2,2,3,1,2,3,3,1,1
24,323,2,3,2,1,1,1,2,2,2,...,1,2,1,3,1,2,2,1,1,1
25,324,2,1,1,1,1,3,1,4,1,...,2,3,2,1,3,2,2,2,1,2
26,325,4,1,3,4,4,2,4,4,2,...,4,4,3,4,4,4,2,1,4,3
27,326,1,3,2,2,1,2,1,1,2,...,2,3,1,2,2,1,3,2,1,2
28,327,2,3,1,1,1,3,2,3,2,...,2,3,3,1,1,1,2,1,2,3
29,328,2,3,2,1,1,2,2,2,2,...,2,2,1,2,1,2,3,2,1,2

In [25]:
eyetrack_dms_columns = ['SSID','Q128','Q130','Q132','Q134','Q136','Q138','Q140',
                        'Q142','Q144','Q146','Q148','Q150','Q152','Q154','Q156',
                        'Q158','Q160','Q162','Q164','Q166','Q168','Q170','Q172',
                        'Q174','Q176']

In [26]:
eyetrack_dms_frame = eyetrack_pre_frame[eyetrack_dms_columns]
eyetrack_dms_frame

,SSID,Q128,Q130,Q132,Q134,Q136,Q138,Q140,Q142,Q144,...,Q158,Q160,Q162,Q164,Q166,Q168,Q170,Q172,Q174,Q176
2,300,3,2,4,4,5,3,2,2,3,...,4,3,2,5,3,3,4,2,3,4
3,301,4,2,4,3,3,4,3,3,2,...,3,4,2,3,4,3,2,2,4,4
4,302,5,4,5,2,2,4,4,1,1,...,1,5,2,4,4,5,2,1,4,4
5,303,4,5,3,4,2,4,3,4,1,...,1,4,4,5,3,4,1,4,2,5
6,304,4,4,4,4,2,2,4,4,2,...,2,4,4,2,4,4,4,2,2,4
7,305,5,1,5,2,3,5,2,2,2,...,2,4,2,4,2,5,2,2,2,4
8,306,5,4,4,4,2,5,3,3,2,...,2,5,4,4,3,5,4,3,4,4
9,308,5,2,4,3,2,5,3,2,1,...,1,4,1,4,3,5,1,1,2,2
10,309,5,2,5,2,1,5,5,1,1,...,1,5,1,5,5,5,1,1,1,5
11,310,5,5,5,2,1,5,2,1,1,...,1,5,1,5,1,5,1,1,1,5
12,311,4,4,5,2,4,5,4,4,4,...,2,4,4,4,4,5,2,4,3,4
13,312,5,4,5,4,1,4,4,4,1,...,2,5,2,5,4,5,2,3,5,3
14,313,4,3,4,4,4,4,5,4,5,...,4,3,4,4,4,4,5,5,4,3
15,314,2,2,5,2,1,4,4,2,2,...,4,3,1,3,3,4,3,2,4,4
16,315,5,5,5,3,2,5,4,2,2,...,4,5,2,4,3,4,4,2,3,4
17,316,4,4,4,4,2,3,4,2,2,...,3,4,3,2,4,4,3,2,4,3
18,317,5,4,3,3,3,4,4,4,4,...,3,3,4,4,3,3,4,3,3,4
19,318,4,4,4,3,2,4,3,2,2,...,2,4,2,4,3,2,4,2,3,4
20,319,2,4,5,2,2,2,4,1,1,...,1,2,1,3,4,5,3,1,2,4
21,320,4,3,4,4,5,4,3,4,5,...,3,4,1,4,4,5,4,2,3,3
22,321,4,4,5,4,1,5,5,2,1,...,2,5,1,2,5,5,2,1,4,4
23,322,4,2,4,2,5,4,2,2,3,...,4,4,3,5,3,4,5,2,3,4
24,323,5,4,5,4,4,3,4,3,4,...,4,4,2,4,3,3,4,3,3,5
25,324,5,2,5,4,2,4,4,2,2,...,2,5,2,3,4,4,1,4,2,4
26,325,4,4,3,4,4,3,4,4,4,...,4,2,4,4,4,2,5,5,5,4
27,326,4,2,4,4,2,5,4,3,2,...,4,4,2,4,2,4,4,2,4,4
28,327,4,2,2,4,2,5,4,3,3,...,1,4,3,4,5,4,4,3,1,3
29,328,4,2,4,4,1,3,4,2,4,...,2,3,2,4,4,4,2,2,3,4

# Eyetrack-Post

In [27]:
eyetrack_post_frame=frames['eyetrack-post']
eyetrack_post_frame=eyetrack_post_frame[eyetrack_post_frame['Finished'] == '1']

In [28]:
eyetrack_finlit_columns = ['SSID','Q14','Q15']

In [29]:
eyetrack_finlit_frame = eyetrack_post_frame[eyetrack_finlit_columns]
eyetrack_finlit_frame

   SSID         Q14  Q15
2   NaN         NaN  NaN
3   316       2,500    1
4   317       5,000    3
5   318        8000    3
6   314        3000    3
7   311        2500    4
8   310        2000    3
9   309        7000    5
10  308        2000    5
11  306         500    8
12  305        3000    1
13  304        2000    4
14  303        5000    8
15  302        2500    7
16  301        2000    3
17  319  $4,000.00     6
18  315       5,000    1
19  312     $2,500     5
20  313         500    1
21  320        5269    3
22  321        2000    5
23  322        1000    5
24  323        5000    8
25  324       $500     7
26  325     $5,000     1
27  326       3,000    5
28  327       1,000    1
29  328         500    3